<div id="Other-setup">
  <h3>Jargon Busting, Working with data and One up, one down</h3>
  <p>
    These require a recent internet browser such as Chrome, Firefox or derivatives of these.
  </p>
</div>


<div id="tidy-data-setup">
  <h3>Tidy data</h3>
  <p>
    You will use a spreadsheet program 
    to clean up and organize messy data. Please find instructions to
    install LibreOffice and the data used in the
    <a href="https://librarycarpentry.org/lc-spreadsheets/instructor/index.html#setup">lesson</a>.
  </p>
</div>

<div id="R-setup">
  <h3>R</h3>
  <p>
    R is a software system for statistical data analysis. Please find instructions to
    install R and RStudio in the
    <a href="https://librarycarpentry.org/lc-r/index.html#install-r-and-rstudio">lesson</a>.
  </p>
</div>
