<div id="Other-setup">
  <h3>Jargon Busting, Working with data and One up, one down</h3>
  <p>
    These require a recent internet browser such as Chrome, Firefox or derivatives of these.
  </p>
</div>


<div id="shell-setup">
  <h3>Unix shell</h3>
  <p>
    Please find setup instructions in the
    <a href="https://librarycarpentry.org/lc-shell/index.html#setup">lesson</a>.
  </p>
</div>

<div id="Git-setup">
  <h3>Git</h3>
  <p>
    You will need a <a href="https://github.com/join">GitHub account</a>.  Please
    also install <a href="">Git</a>. This is also explained in the
    <a href="https://librarycarpentry.org/lc-git/#prerequisites">lesson</a>.
  </p>
</div>

<div id="OpenRefine-setup">
  <h3>OpenRefine</h3>
  <p>
    Download <a href="https://openrefine.org/download.html">OpenRefine</a> as 
    explained in the
    <a href="https://librarycarpentry.org/lc-open-refine/#getting-ready">lesson</a>.
  </p>
</div>

<div id="SQL-setup">
  <h3>SQL</h3>
  <p>
    Install <a href="https://sqlitebrowser.org/dl/">DB Browser for SQLite</a> as explained in the
    <a href="https://librarycarpentry.org/lc-sql/index.html#software-requirements">lesson</a>.
  </p>
</div>
